<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.devrocks.qualnota">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_qn_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_qn_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CalculosSalvos">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ID aplicativo AD MOB -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8532343123320223~6675880607" />
    </application>

</manifest>